
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-light" style="min-height:400px; text-align:center">
<br/><br/>
    <h2>404 sayfa bulunamadı!</h2>
<h2>Aradığınız sayfa silinmiş yada başka adrese taşınmış olabilir</h2>

</div>

